body {
background:#111;
color:white;
font-family:Arial;
text-align:center;
}


header {
background:#e91e63;
padding:20px;
}


.card {

background:#222;
width:330px;
margin:40px auto;
padding:20px;
border-radius:25px;

}


.card img {

width:250px;
height:250px;
border-radius:50%;

}


button {

font-size:30px;
border:none;
border-radius:50%;
padding:15px;
margin:15px;
cursor:pointer;

}


a {

color:#ff4081;
font-size:20px;

}
